.pricing-tables .tables-left-dec img,
.pricing-tables .tables-right-dec img {
    position: absolute;
    z-index: 1;
}

.pricing-tables .tables-left-dec img {
    width: 418px;
    height: 851px;
    left: 0;
    top: 120px;
}

.pricing-tables .tables-right-dec img {
    width: 359px;
    height: 848px;
    right: 0;
    top: 45px;
}

.pricing-tables {
    z-index: 2;
    position: relative;
    padding-top: 120px;
}

.pricing-tables .section-heading {
    text-align: center;
    margin-bottom: 60px;
}

.pricing-tables .item {
    position: relative;
    z-index: 2;
    padding: 60px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    margin-bottom: 30px;
}

.pricing-tables .item h4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--price-text-color);
}

.pricing-tables .item p {
    font-size: 1rem;
    color: var(--price-text-color);
    padding: 20px 0px;
    margin: 0px;
}

.pricing-tables .item .main-blue-button-hover {
    margin-top: 40px;
}

.main-blue-button-hover button {
    display: inline-block;
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border: none;
    border-radius: 23px;
    letter-spacing: 0.25px;
    transition: all .3s;
}

.main-blue-button-hover button:hover {
    background-color: var(--secondary-color);
}

.pricing-tables .second-item {
    background-image: url(../../assets/images/second-plan-bg.png);
}

.pricing-tables .third-item {
    background-image: url(../../assets/images/third-plan-bg.png);
}

.price-container {
    justify-content: center;
}

.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-content {
    position: relative;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 3;
    max-width: 800px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    margin-top: 120px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
}

.popup-inner {
    display: flex;
    flex-direction: column;
}

.popup-inner .list {
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
}

.popup-inner .list h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
}

.popup-inner .list em,
.popup-inner .list span {
    display: block;
    color: var(--text-color);
    font-weight: 700;
}

.popup-inner .list em {
    font-size: 25px;
    margin-top: 20px;
    font-style: normal;
}

.popup-inner .list span {
    font-size: 30px;
    margin-top: -10px;
}

.popup-inner .list p {
    font-size: 1rem;
    color: var(--text-color);
    padding-top: 20px;
    margin: 0px;
}

@media (max-width: 992px) {
    .pricing-tables .section-heading h2 {
        font-size: 2rem;
        margin: 0;
    }

    .pricing-tables .item {
        padding: 40px;
    }
}

@media (max-width: 768px) {

    .pricing-tables .tables-right-dec img {
        top: 700px;
    }

    .pricing-tables .item {
        width: 60%;
        padding: 30px;
        margin: 40px auto;
    }

    .popup-content {
        max-width: 60%;
        padding: 15px;
    }

    .popup-inner .list h4 {
        font-size: 18px;
    }

    .popup-inner .list em {
        font-size: 20px;
    }

    .popup-inner .list span {
        font-size: 25px;
    }
}

@media (max-width: 480px) {

    .pricing-tables .tables-right-dec img {
        top: 850px;
    }

    .pricing-tables .item {
        width: 95%;
        padding: 20px;
        margin: 20px auto;
    }

    .popup-content {
        max-width: 95%;
        padding: 10px;
        margin-top: 175px;
    }

    .popup-inner .list {
        padding: 20px 10px;
        margin-bottom: 20px;
    }

    .close-button {
        top: 5px;
        right: 5px;
        font-size: 20px;
    }
}