.pricing-tables .tables-left-dec img,
.pricing-tables .tables-right-dec img {
    position: absolute;
    z-index: 1;
}

.pricing-tables .tables-left-dec img {
    width: 418px;
    height: 851px;
    left: 0;
    top: 120px;
}

.pricing-tables .tables-right-dec img {
    width: 359px;
    height: 848px;
    right: 0;
    top: 45px;
}

.pricing-tables {
    z-index: 2;
    position: relative;
    padding-top: 120px;
}

.pricing-tables .section-heading {
    text-align: center;
    margin-bottom: 60px;
}

.pricing-tables .section-heading h2 {
    margin: 0 50px -5px;
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
}

.pricing-tables .item {
    position: relative;
    z-index: 2;
    padding: 60px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    margin-bottom: 30px;
}

.pricing-tables .item h4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #2a2a2a;
}

.pricing-tables .item em,
.pricing-tables .item span {
    display: block;
    color: #ff695f;
    font-weight: 700;
}

.pricing-tables .item em {
    font-size: 1rem;
    margin-top: 25px;
    text-decoration: line-through;
}

.pricing-tables .item span {
    font-size: 2.75rem;
    margin-top: -5px;
}

.pricing-tables .item ul {
    margin-top: 30px;
    padding: 0;
}

.pricing-tables .item ul li {
    font-size: 1rem;
    color: #7a7a7a;
    margin-bottom: 20px;
    list-style: none;
}

.pricing-tables .item .main-blue-button-hover {
    margin-top: 40px;
}

.main-blue-button-hover button {
    display: inline-block;
    background-color: #03a4ed;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border: none;
    border-radius: 23px;
    letter-spacing: 0.25px;
    transition: all .3s;
}

.main-blue-button-hover button:hover {
    background-color: #ff695f;
}

.pricing-tables .first-item {
    background-image: url(../../assets/images/first-plan-bg.png);
}

.pricing-tables .second-item {
    background-image: url(../../assets/images/second-plan-bg.png);
}

.pricing-tables .third-item {
    background-image: url(../../assets/images/third-plan-bg.png);
}

@media (max-width: 992px) {
    .pricing-tables .section-heading h2 {
        font-size: 2rem;
        margin: 0;
    }

    .pricing-tables .item {
        padding: 40px;
    }
}

@media (max-width: 768px) {

    /* .pricing-tables .tables-left-dec img,
    .pricing-tables .tables-right-dec img {
        display: none;
    } */

    .pricing-tables .item {
        padding: 30px;
    }
}