.pricing-tables .tables-left-dec img {
    width: 418px;
    height: 851px;
    left: 0;
    top: 120px;
    position: absolute;
    z-index: 1;
}

.pricing-tables .tables-right-dec img {
    width: 359px;
    height: 848px;
    right: 0;
    top: 45px;
    position: absolute;
    z-index: 1
}

.pricing-tables {
    z-index: 2;
    position: relative;
    padding-top: 120px;
    margin-top: 0px;
}

.pricing-tables .section-heading {
    text-align: center;
    margin-bottom: 60px;
}

.pricing-tables .section-heading h2 {
    text-align: center;
    margin: 0px 50px;
    margin-bottom: -5px;
    position: relative;
    z-index: 1;
}

.pricing-tables .item {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
}

.pricing-tables .item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
}

.pricing-tables .item em {
    color: #ff695f;
    font-size: 15px;
    display: block;
    margin-top: 25px;
    text-decoration: line-through;
    font-style: normal;
}

.pricing-tables .item span {
    font-size: 44px;
    color: #ff695f;
    font-weight: 700;
    display: block;
    margin-top: -5px;
}

.pricing-tables .item ul {
    margin-top: 30px;
    padding: 0px;
}

.pricing-tables .item ul li {
    display: block;
    font-size: 15px;
    color: #7a7a7a;
    margin-bottom: 20px;
}

.pricing-tables .item .main-blue-button {
    margin-top: 40px;
}

.pricing-tables .first-item {
    background-image: url(../../assets/images/first-plan-bg.png);
}

.pricing-tables .second-item {
    background-image: url(../../assets/images/second-plan-bg.png);
}

.pricing-tables .third-item {
    background-image: url(../../assets/images/third-plan-bg.png);
}

@media (max-width: 992px) {
    .pricing-tables .section-heading h2 {
        margin: 0px;
    }

    .pricing-tables .item {
        margin-bottom: 30px;
    }
}