.our-services {
    position: relative;
    margin-top: 0;
    padding-top: 120px;
    padding-bottom: 60px;
}

.our-services .services-left-dec img,
.our-services .services-right-dec img {
    position: absolute;
    z-index: 1;
}

.our-services .services-left-dec img {
    width: 387px;
    height: 638px;
    left: -80px;
    top: 5px;
}

.our-services .services-right-dec img {
    width: 305px;
    height: 305px;
    right: 25px;
    bottom: -120px;
}

.our-services .container {
    position: relative;
}

.our-services .section-heading {
    text-align: center;
    margin-bottom: 45px;
}

.our-services .section-heading h2 {
    margin: 0 60px;
    margin-bottom: -10px;
    font-size: 28px;
}

.our-services .item {
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.our-services .item:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.our-services .item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 30px;
    line-height: 30px;
}

.our-services .icon {
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.our-services .item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.our-services .item p {
    margin-top: 35px;
    padding-top: 30px;
    border-top: 1px solid #eee;
    font-size: 16px;
    color: #777;
}

.slick-slider {
    z-index: 1;
}

.slick-slide>div {
    padding: 0 15px;
}

.slick-list {
    margin: 0 -15px;
}

@media (max-width: 1024px) {
    .our-services .section-heading h2 {
        font-size: 26px;
        margin: 0 30px;
    }

    .our-services .item {
        padding: 20px;
    }

    .our-services .item h4 {
        font-size: 18px;
    }

    .our-services .item p {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .our-services .section-heading h2 {
        margin: 0;
        font-size: 24px;
    }

    .our-services .item {
        padding: 15px;
        margin: 10px;
    }

    .our-services .item h4 {
        font-size: 16px;
    }

    .our-services .item p {
        font-size: 14px;
    }
}