.our-services {
    position: relative;
    margin-top: 0;
    padding-top: 120px;
    padding-bottom: 60px;
}

.our-services .services-left-dec img,
.our-services .services-right-dec img {
    position: absolute;
    z-index: 1;
    will-change: transform;
}

.our-services .services-left-dec img {
    width: 387px;
    height: 638px;
    left: -80px;
    top: 5px;
}

.our-services .services-right-dec img {
    width: 305px;
    height: 305px;
    right: 25px;
    bottom: -120px;
}

.our-services .container {
    position: relative;
}

.our-services .section-heading {
    text-align: center;
    margin-bottom: 45px;
}

.our-services .section-heading h2 {
    margin: 0 60px;
    margin-bottom: -10px;
}

.our-services .item {
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    will-change: transform;
}

.our-services .item:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.our-services .item h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 30px;
    line-height: 30px;
}

.our-services .icon {
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.our-services .item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.our-services .item p {
    margin-top: 35px;
    padding-top: 30px;
    border-top: 1px solid var(--text-color);
    font-size: 16px;
    color: var(--text-color);
}

.our-services .col-lg-12 {
    padding: 0;
}

.slick-slider {
    z-index: 1;
    margin: 0 auto;
}

.slick-list {
    margin: 0;
    padding: 0;
}

.slick-slide {
    padding: 0;
    text-align: center;
}

.slick-slide>div {
    padding: 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .our-services .section-heading h2 {
        margin: 0 30px;
    }

    .our-services .item {
        padding: 20px;
    }

    .our-services .item h4 {
        font-size: 18px;
    }

    .our-services .item p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .our-services .section-heading h2 {
        margin: 0;
    }

    .our-services .item {
        padding: 15px;
        margin: 10px;
    }

    .our-services .item h4 {
        font-size: 16px;
    }

    .our-services .item p {
        font-size: 14px;
    }

    .service-popup-content {
        max-width: 80%;
        padding: 15px;
    }

    .service-popup-inner .descp {
        padding: 30px;
    }

    .service-popup-inner .descp h4 {
        font-size: 1.1rem;
    }
}