.about-us {
  padding-top: 120px;
}

.about-us .left-image {
  text-align: center;
}

.about-us .section-heading h2 {
  margin-right: 60px;
}

.about-us .section-heading p {
  margin-top: 50px;
}

.left-image img {
  width: 85%;
  border-radius: 50px;
  height: auto;
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.left-image img.loading {
  filter: blur(10px);
  opacity: 0.7;
}

.left-image img.loaded {
  filter: none;
  opacity: 1;
}

.loading {
  filter: blur(10px);
  transition: filter 0.5s ease;
}

.loaded {
  filter: blur(0);
  transition: filter 0.5s ease;
}

@media (max-width: 992px) {
  .about-us .section-heading h2 {
    margin-right: 0px;
  }

  .about-us .left-image {
    margin-right: 0px;
  }
}