.toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    gap: 10px;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.toggle-btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
}

.toggle {
    background-color: #03a4ed;
}

.toggle-1 {
    background-color: #A8D5E3;
}

.toggle-2 {
    background-color: #7091E6;
}

.toggle-3 {
    background-color: #ff28c3;
}