.main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 180px 0 130px;
    position: relative;
    overflow: hidden;
}

.main-banner .banner-decor-left {
    position: absolute;
    left: 0;
    top: 100px;
    width: 397px;
    height: auto;
}

.main-banner .banner-decor-right {
    position: absolute;
    right: 0;
    top: 100px;
    width: 819px;
    height: auto;
}

.banner-decor-left.loading {
    filter: blur(10px);
    opacity: 0.7;
}

.banner-decor-left.loaded {
    filter: none;
    opacity: 1;
}

.banner-decor-right.loading {
    filter: blur(10px);
    opacity: 0.7;
}

.banner-decor-right.loaded {
    filter: none;
    opacity: 1;
}

.loading {
    filter: blur(10px);
    transition: filter 0.5s ease;
}

.loaded {
    filter: blur(0);
    transition: filter 0.5s ease;
}

.main-banner .item h6 {
    text-transform: uppercase;
    font-size: 18px;
    color: #ff695f;
    margin-bottom: 15px;
}

.main-banner .item h2 {
    font-size: 45px;
    font-weight: 700;
    color: #2a2a2a;
    line-height: 72px;
}

.main-banner .item h2 em {
    color: #03a4ed;
    font-style: normal;
}

.main-banner .item h2 span {
    color: #ff695f;
}

.main-banner .item p {
    margin: 20px 0;
}

.down-buttons {
    display: inline-flex;
}

.down-buttons .call-button .lnk i {
    margin-right: 5px;
    width: 46px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    background: linear-gradient(105deg, rgba(255, 104, 95, 1) 0%, rgba(255, 144, 104, 1) 100%);
    color: #fff;
    font-size: 20px;
}

.down-buttons .call-button .lnk {
    color: #ff695f;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}

.slick-dots.custom-dots {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 0;
    bottom: -80px;
}

.slick-dots.custom-dots li {
    margin: 0;
}

.slick-dots.custom-dots li button {
    background: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.slick-dots.custom-dots li.slick-active button,
.slick-dots.custom-dots li button:hover {
    color: #ff695f;
}

.custom-dot {
    font-size: 20px;
    font-weight: bold;
    color: #2a2a2a;
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}

.custom-dot:hover,
.slick-active .custom-dot {
    color: #ff685f;
    border-bottom: 3px solid #ff685f;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #ff695f;
}

@media (max-width: 767px) {
    .down-buttons {
        display: block;
    }

    .down-buttons .call-button .lnk {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .banner-decor-right {
        display: none;
    }

    .main-banner {
        padding-bottom: 50px;
    }

    .slick-dots.custom-dots {
        bottom: -55px;
    }

    .slick-active .custom-dot {
        border-top: 3px solid #ff685f;
    }
}

@media (max-width: 1240px) {
    .banner-decor-right {
        width: 640px;
        height: auto;
    }
}