.main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 180px 0px 130px 0px;
    position: relative;
    overflow: hidden;
}

.main-banner:after {
    content: '';
    background-image: url('../../assets/images/baner-dec-left.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 100px;
    width: 267px;
    height: 532px;
}

.main-banner:before {
    content: '';
    background-image: url('../../assets/images/banner-right-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 100px;
    width: 819px;
    height: 674px;
}

.main-banner .item {
    margin-right: 45px;
}

.main-banner .item h6 {
    text-transform: uppercase;
    font-size: 18px;
    color: #ff695f;
    margin-bottom: 15px;
}

.main-banner .item h2 {
    font-size: 45px;
    font-weight: 700;
    color: #2a2a2a;
    line-height: 72px;
}

.main-banner .item h2 em {
    color: #03a4ed;
    font-style: normal;
}

.main-banner .item h2 span {
    color: #ff695f;
}

.main-banner .item p {
    margin: 20px 0px;
}

.main-banner .item .down-buttons {
    display: inline-flex;
}

.main-banner .item .down-buttons .call-button .lnk i {
    margin-right: 5px;
    width: 46px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    background: rgb(255, 104, 95);
    background: linear-gradient(105deg, rgba(255, 104, 95, 1) 0%, rgba(255, 144, 104, 1) 100%);
    color: #fff;
    font-size: 20px;
}

.main-banner .item .down-buttons .call-button .lnk {
    color: #ff695f;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}

.main-banner .active:before {
    color: #ff685f;
    border-bottom: 3px solid #ff685f;
}

.slick-dots li {
    margin: 0px;
}

.slick-dots.custom-dots {
    display: block;
    justify-content: center;
    text-align: left;
    list-style: none;
    padding: 0;
    /* margin-top: 40px; */
    bottom: -80px;
}

.slick-dots.custom-dots li button {
    border: none;
    background: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.slick-dots.custom-dots li.slick-active button {
    color: #ff695f;
}

.slick-dots.custom-dots li button:hover {
    color: #ff695f;
}

.custom-dot {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    color: #2a2a2a;
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}

.custom-dot:hover {
    color: #ff685f;
    border-bottom: 3px solid #ff685f;
}

.slick-active .custom-dot {
    color: #ff685f;
    border-bottom: 3px solid #ff685f;
}

@media (max-width: 767px) {
    .main-banner .item .down-buttons {
        display: inline-block;
    }

    .main-banner .item .down-buttons .main-blue-button {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .main-banner .item .down-buttons .call-button .lnk {
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .main-banner::before {
        display: none;
    }

    .main-banner .item {
        margin-right: 0px;
    }

    .main-banner {
        padding-bottom: 50px;
    }

    .slick-dots.custom-dots {
        bottom: -55px;
    }

    .slick-active .custom-dot {
        border-top: 3px solid #ff685f;
    }
}

@media (max-width: 1240px) {
    .main-banner::before {
        width: 640px;
        height: 526px;
    }

}